

*{
    box-sizing: border-box;
    margin:0;
}

body{
    background-image: url(../img/bg2_1920x1200.jpg);
/*     background-position: center; */

}

div.container {
    width: 80%;    
    margin: 20px auto;
    
}

header.heading{
    margin-bottom: 10px;
}


span.name_brand{ 
    font-size: 30px;
    color: #ffffff;
    margin-left: 5px;;
    position: relative;
    bottom:30px;
}

nav{
    padding: 10px 0px 24px;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}

nav input.search_bar{
    height: 24px;
}

nav input.submit_button{
    height: 20px;
    border-radius: 4px;
    text-align: center;
}

p.unread_mail{
    color: #ffffff;
    font-size: 30px;
    margin-top: 20px;
}

.number_box {
    background-color: orange;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
}

main.email_container{
    padding: 10px 0px 10px 0px;
}

div.row{
    padding: 4px;
    border-top: 2px solid black;
    overflow: hidden;

}
div.row.read{
    
    background-color: #d3d3d3;
}

div.row.unread{
    background-color: #ffffff;
    
}


.body_mail{
    color: #868686;
}

footer{
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    border-top: 1px solid #ffffff;
}

span.firma{
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}